<div class="row mb-1">
  <section [formGroup]="formGroup">
    <div class="row mb-1">
      <label class="col-sm-2 col-form-label">
        {{ label }} <span *ngIf="required" class="text-danger">*</span>
      </label>
      <div class="col-sm-8">
        <input
          [type]="type"
          class="form-control"
          [formControlName]="control"
          [required]="required"
        />
      </div>
      <!-- <div *ngIf="re">*</div> -->
      <div
        *ngIf="
          formGroup.controls[control].invalid &&
          formGroup.controls[control].touched
        "
      >
        <div
          *ngIf="formGroup.controls[control].errors?.['required']"
          class="text-danger"
        >
          This field is required
        </div>
        <div
          *ngIf="formGroup.controls[control].errors?.['email']"
          class="text-danger"
        >
          Please enter Email
        </div>
      </div>
    </div>
  </section>
</div>
