.container {
  margin: auto;
  border: 1px solid black;
  width: 50%;
  height: 40%;
  padding: 30px;
}
.radioBtn {
  display: flex;
  flex-direction: row;
}

.container-fluid {
  margin-left: 20px;

  h1 {
    font-size: 25px;
  }
}
.gradient-custom {
  background: linear-gradient(to left, #e66465, #9198e5);
}
