<div class="container">
  <h3 class="text-center mt-4">Dynamic Add Form Control Form Component</h3>
  <div
    class="text-danger text-center"
    *ngIf="dynamicFormGroup.invalid && isSubmiit"
  >
    All form field are required
  </div>
  <div class="col-sm-12">
    <form [formGroup]="dynamicFormGroup" (ngSubmit)="ngSubmit()">
      <div *ngFor="let form_elem of formField">
        <div [ngSwitch]="form_elem.type">
          <div *ngSwitchCase="'input'">
            <app-inputfield
              [type]="form_elem.fieldType"
              [label]="form_elem.label"
              [formGroup]="dynamicFormGroup"
              [control]="form_elem.name"
              [required]="form_elem.required"
            >
            </app-inputfield>
          </div>

          <div *ngSwitchCase="'textarea'">
            <app-textarea
              [label]="form_elem.label"
              [formGroup]="dynamicFormGroup"
              [control]="form_elem.name"
            >
            </app-textarea>
          </div>

          <div *ngSwitchCase="'radio'">
            <app-radiobutton
              [option]="form_elem.options"
              [label]="form_elem.label"
              [control]="form_elem.name"
              [formGroup]="dynamicFormGroup"
            >
            </app-radiobutton>
          </div>

          <div *ngSwitchCase="'select'">
            <div *ngIf="form_elem.name === 'country'">
              <app-selectoption
                [formGroup]="dynamicFormGroup"
                [control]="form_elem.name"
                [options]="form_elem.country"
                [label]="form_elem.name"
              >
              </app-selectoption>
            </div>
            <div *ngIf="form_elem.name === 'state'">
              <app-selectoption
                [formGroup]="dynamicFormGroup"
                [control]="form_elem.name"
                [options]="form_elem.state"
                [label]="form_elem.name"
              >
              </app-selectoption>
            </div>
          </div>

          <div *ngSwitchCase="'checkbox'">
            <app-checkbox
              [label]="form_elem.label"
              [formGroup]="dynamicFormGroup"
              [control]="form_elem.name"
            ></app-checkbox>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success col-2 mt-2">Submit</button>
    </form>

    {{ dynamicFormGroup.value | json }}
  </div>
</div>
